body {
  background-color: #ffae8f;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

nav {
  background-color: #e79c7e;
  height: 10vh;
  display: flex;
  justify-content: center;
  filter: drop-shadow(0 0 0.15rem rgb(247, 238, 240));
}

nav > ul {
  margin-top: 0;
  padding-top: 2vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 100px;
}

ul > a {
  color: white;
  text-decoration: none;
  letter-spacing: 0.3rem;
}

ul > a:hover {
  color: #9ef7ff;
}
figure img {
  max-width: 40vw;
  border-radius: 51% 49% 51% 49% / 53% 39% 61% 47%;
  border: dashed #6f5a7e;
  border-width: 0.25em 0.75em;

  /* filter: drop-shadow(0 0 0.75rem rgb(172, 242, 140)); */
  /* opacity: 90%;
  filter: contrast(90%); */
}

figcaption {
  margin-top: 0.5vh;
  color: rgb(255, 255, 255);
  font-size: x-small;
}

.didyouknow {
  color: white;
  letter-spacing: 1rem;
  padding-bottom: 1rem;
}

main {
  color: white;
  background-color: #ffae8f;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0.75rem;
}

.footer {
  color: white;
  letter-spacing: 1rem;
  padding-top: 1%;
  font-size: 1rem;
  background-color: #e79c7e;
  margin-bottom: 0;
  height: 15%;
}

article {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 40%;
  background-color: #6f5a7e;
  opacity: 90%;
  gap: 1rem;
  padding: 3rem;
  font-size: 1.5rem;
  color: white;
  /* border: dashed white; */
  border-radius: 10%;
}

form > input {
  width: 10vw;
  height: 2rem;
  text-align: center;
  border: none;
  border-radius: 10%;
  background-color: white;
  font-size: 1rem;
  color: #6f5a7e;
}

form > button {
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 50%;
  font-size: 1.25rem;
  color: #6f5a7e;
  background-color: white;
}

form > button:hover {
  width: 3.1rem;
  height: 3.1rem;

  color: white;
  background-color: #ffae8f;

  font-size: 2rem;
}
/*pseudo class:*/

/* article::first-letter {
  color: rgb(240, 137, 26);
  background-color: rgb(3, 3, 3);
} */

::selection {
  background-color: orange;
}

input::placeholder {
  font-size: smaller;
  color: rgb(167, 163, 163);
}
